<launch>


    <node name="raspi_cpu_temp" pkg="raspi_cpu_temp" type="raspi_cpu_temp_node.py" respawn="true" respawn_delay="2"></node>
    
    <node name="mpl3115a2_altimeter" pkg="ros_mpl3115a2" type="talker.py" respawn="true" respawn_delay="2"></node>
    
    <node pkg="bosch_imu_driver" type="bosch_imu_node.py" name="bosch_imu_node" output="screen" respawn="true" respawn_delay="2">
        <param name="port" type="string" value="/dev/serial1"/>        
        <param name="frequency" type="int" value="100"/>
        <param name="frame_id" type="string" value="imu_bno055"/>
        <remap from="/imu/data" to="/bno055_imu/data"/>
        <remap from="/imu/raw" to="/bno055_imu/raw"/>
        <remap from="/imu/temp" to="/bno055_imu/temp"/>
        <remap from="/imu/mag" to="/bno055_imu/mag"/>
        <remap from="/imu/status" to="/bno055_imu/status"/>
    </node>
    
    <node name="icm20948_imu" pkg="ros_icm20948" type="talker.py" respawn="true" respawn_delay="2"></node>
    
    <arg name="enable_raw" default="false"/>
    <arg name="enable_imv" default="false"/>
    <arg name="camera_frame_id" default="raspicam"/>
    <arg name="camera_name" default="down_cam"/>
  
    <node type="raspicam_node" pkg="raspicam_node" name="down_cam" output="screen">
        <param name="private_topics" value="true"/>

        <param name="camera_frame_id" value="$(arg camera_frame_id)"/>
        <param name="enable_raw" value="$(arg enable_raw)"/>
        <param name="enable_imv" value="$(arg enable_imv)"/>

        <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_1280x960.yaml"/>
        <param name="camera_name" value="$(arg camera_name)"/>
        <param name="width" value="2592"/>
        <param name="height" value="1944"/>

        <param name="framerate" value="5"/>
        <param name="quality" value="70"/>
        <param name="exposure_mode" value="antishake"/>
        <param name="shutter_speed" value="0"/>
        <param name="video_stabilisation" value="true"/>
    </node>

</launch>
