<launch>
    <node name="mpl3115a2_altimeter" pkg="ros_mpl3115a2" type="talker.py" respawn="true" respawn_delay="2">
    </node>
    <node ns="bno055_imu" name="bno055_imu" pkg="imu_bno055" type="bno055_i2c_node" respawn="true" respawn_delay="2">
        <param name="device" type="string" value="/dev/i2c-1"/>
        <param name="address" type="int" value="40"/> <!-- 0x28 == 40 is the default for BNO055 -->
        <param name="frame_id" type="string" value="imu"/>
    </node>
    <node name="icm20948_imu" pkg="ros_icm20948" type="talker.py" respawn="true" respawn_delay="2">
    </node>
    <node name="down_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="down_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="15"/>
  </node>
  <node name="side_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="side_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="15"/>
  </node>
  <node name="republish" pkg ="image_transport" type="republish" output="screen" args="raw in:=side_cam/image_raw compressed out:=side_cam/image_compressed">
  </node>
  <node name="dynparam_side" pkg="dynamic_reconfigure" type="dynparam" args="set side_cam/image_raw/compressed/ format png">
  </node>
  <node name="dynparam_down" pkg="dynamic_reconfigure" type="dynparam" args="set down_cam/image_raw/compressed/ format png">
  </node>
</launch>
