<launch>

    <node pkg="bosch_imu_driver" type="bosch_imu_node.py" name="bosch_imu_node" output="screen" respawn="true" respawn_delay="2">
        <param name="port" type="string" value="/dev/ttyAMA0"/>        
        <param name="frequency" type="int" value="100"/>
        <param name="frame_id" type="string" value="imu_bno055"/>
        <remap from="/imu/data" to="/bno055_imu/data"/>
        <remap from="/imu/raw" to="/bno055_imu/raw"/>
        <remap from="/imu/temp" to="/bno055_imu/temp"/>
        <remap from="/imu/mag" to="/bno055_imu/mag"/>
        <remap from="/imu/status" to="/bno055_imu/status"/>
  </node>

</launch>
