<launch>

  <node type="raspicam_node" pkg="raspicam_node" name="down_cam" output="screen">
    <param name="private_topics" value="true"/>

    <param name="camera_frame_id" value="raspicam"/>
    <param name="enable_raw" value="false"/>
    <param name="enable_imv" value="false"/>
    <param name="camera_id" value="0"/>

    <param name="camera_name" value="down_cam"/>
    <param name="width" value="2592"/>
    <param name="height" value="1944"/>

    <param name="framerate" value="5"/>
    <param name="quality" value="70"/>
    <param name="exposure_mode" value="antishake"/>
    <param name="shutter_speed" value="0"/>
    <param name="video_stabilisation" value="true"/>
  </node>

</launch>
