[submodule "catkin_ws/arduino_test_scripts/SparkFun_Trackuino"]
	path = catkin_ws/arduino_test_scripts/SparkFun_Trackuino
	url = https://github.com/sparkfun/SparkFun_Trackuino
[submodule "catkin_ws/src/ros_mpl3115a2"]
	path = catkin_ws/src/ros_mpl3115a2
	url = https://github.com/GAVLab/ros_mpl3115a2
[submodule "catkin_ws/src/usb_cam"]
	path = catkin_ws/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam
[submodule "catkin_ws/src/libuvc_ros"]
	path = catkin_ws/src/libuvc_ros
	url = https://github.com/ros-drivers/libuvc_ros.git
[submodule "catkin_ws/src/ros_icm20948"]
	path = catkin_ws/src/ros_icm20948
	url = https://github.com/GAVLab/ros_icm20948
[submodule "catkin_ws/src/raspi_cpu_temp"]
	path = catkin_ws/src/raspi_cpu_temp
	url = https://github.com/Roboterbastler/raspi_cpu_temp
[submodule "catkin_ws/src/rosserial"]
	path = catkin_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial
[submodule "catkin_ws/src/image_pipeline"]
	path = catkin_ws/src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git
[submodule "catkin_ws/catkin_ws/src/raspicam_node"]
	path = catkin_ws/src/raspicam_node
	url = https://github.com/UbiquityRobotics/raspicam_node
[submodule "catkin_ws/src/bosch_imu_driver"]
	path = catkin_ws/src/bosch_imu_driver
	url = https://github.com/GAVLab/bosch_imu_driver
